{% extends "base.html" %}

{% block title %}Feed | {{block.super }}  {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-4">

{% for object in object_list %}

<div class="media">
    <div class="media-body">
        {{object.content}}</br>
        via {{object.user}} | {{object.timestamp | timesince}} ago | <a href="{{object.get_absolute_url}}">View<a>
    </div>
</div>
<hr/>

{% empty %}
{% if request.GET.q %}
   <p>No tweets found<p>
{% else %}
   <p>No tweets yet<p>
       {% endif %}
       {% endfor %}

    </div>
</div>

{% endblock content %}
